openapi: 3.0.0
info:
  title: Apify API
  description: |-
   .
  contact: {}
  version: ''
servers:
  - url: 'https://api.apify.com'
    variables: {}
paths:
  /v2/acts:
    get:
      tags:
        - Actors/Actor collection
      summary: Get list of actors
      description: |
        Gets the list of all Actors that the user created or used. The response is a
        list of objects, where each object contains a basic information about a single Actor.

        To only get Actors created by the user, add the `my=1` query parameter.

        The endpoint supports pagination using the `limit` and `offset` parameters
        and it will not return more than 1000 records.

        By default, the records are sorted by the `createdAt` field in ascending
        order, therefore you can use pagination to incrementally fetch all Actors while new
        ones are still being created. To sort the records in descending order, use the `desc=1` parameter.
      operationId: acts_get
      parameters:
        - name: my
          in: query
          description: |
            If `true` or `1` then the returned list only contains Actors owned by the user. The default value is `false`.
          style: form
          explode: true
          schema:
            type: boolean
            example: true
        - name: offset
          in: query
          description: |
            Number of records that should be skipped at the start. The default value
            is `0`.
          style: form
          explode: true
          schema:
            type: number
            format: double
            example: 10
        - name: limit
          in: query
          description: |
            Maximum number of records to return. The default value as well as the
            maximum is `1000`.
          style: form
          explode: true
          schema:
            type: number
            format: double
            example: 99
        - name: desc
          in: query
          description: |
            If `true` or `1` then the objects are sorted by the `createdAt` field in
            descending order. By default, they are sorted in ascending order.
          style: form
          explode: true
          schema:
            type: boolean
            example: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                title: GetListOfActorsResponse
                required:
                  - data
                type: object
                properties:
                  data:
                    allOf:
                      - $ref: '#/paths/~1v2~1actor-tasks/get/responses/200/content/application~1json/schema/properties/data/allOf/0'
                      - type: object
                        required:
                          - items
                        properties:
                          items:
                            type: array
                            items:
                              title: ActorShort
                              required:
                                - id
                                - createdAt
                                - modifiedAt
                                - name
                                - username
                              type: object
                              properties:
                                id:
                                  type: string
                                  example: br9CKmk457
                                createdAt:
                                  type: string
                                  example: '2019-10-29T07:34:24.202Z'
                                modifiedAt:
                                  type: string
                                  example: '2019-10-30T07:34:24.202Z'
                                name:
                                  type: string
                                  example: MyAct
                                username:
                                  type: string
                                  example: janedoe
              example:
                data:
                  total: 2
                  count: 2
                  offset: 0
                  limit: 1000
                  desc: false
                  items:
                    - id: br9CKmk457
                      createdAt: '2019-10-29T07:34:24.202Z'
                      modifiedAt: '2019-10-30T07:34:24.202Z'
                      name: MyAct
                      username: janedoe
                    - id: ksiEKo23pz
                      createdAt: '2019-11-30T07:34:24.202Z'
                      modifiedAt: '2019-12-12T07:34:24.202Z'
                      name: MySecondAct
                      username: janedoe
      deprecated: false
      x-legacy-doc-urls:
        - 'https://docs.apify.com/api/v2#/reference/actors/actor-collection/get-list-of-actors'
      x-js-parent: ActorCollectionClient
      x-js-name: list
      x-js-doc-url: 'https://docs.apify.com/api/client/js/reference/class/ActorCollectionClient#list'
      x-py-parent: ActorCollectionClientAsync
      x-py-name: list
      x-py-doc-url: 'https://docs.apify.com/api/client/python/reference/class/ActorCollectionClientAsync#list'
    post:
      tags:
        - Actors/Actor collection
      summary: Create actor
      description: |
        Creates a new Actor with settings specified in an Actor object passed as
        JSON in the POST payload.

        The response is the full Actor object as returned by the

        [Get Actor](#/reference/actors/actor-object/get-actor) endpoint.


        The HTTP request must have the `Content-Type: application/json` HTTP header!


        The Actor needs to define at least one version of the source code.

        For more information, see [Version object](#/reference/actors/version-object).


        If you want to make your Actor
        [public](https://docs.apify.com/platform/actors/publishing) using `isPublic:
        true`, you will need to provide the Actor's `title` and the `categories`
        under which that Actor will be classified in Apify Store. For this, it's
        best to use the [constants from our `apify-shared-js`
        package](https://github.com/apify/apify-shared-js/blob/2d43ebc41ece9ad31cd6525bd523fb86939bf860/packages/consts/src/consts.ts#L452-L471).
      operationId: acts_post
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              title: CreateActorRequest
              type: object
              properties:
                name:
                  type: string
                  nullable: true
                  example: MyActor
                description:
                  type: string
                  nullable: true
                  example: My favourite actor!
                title:
                  type: string
                  nullable: true
                  example: My actor
                isPublic:
                  type: boolean
                  nullable: true
                  example: false
                seoTitle:
                  type: string
                  nullable: true
                  example: My actor
                seoDescription:
                  type: string
                  nullable: true
                  example: My actor is the best
                restartOnError:
                  type: boolean
                  nullable: true
                  example: false
                versions:
                  type: array
                  items:
                    title: Version
                    type: object
                    required:
                      - versionNumber
                      - sourceType
                      - buildTag
                    properties:
                      versionNumber:
                        type: string
                        example: '0.0'
                      sourceType:
                        oneOf:
                          - nullable: true
                          - $ref: '#/paths/~1v2~1acts~1%7BactorId%7D~1versions/post/requestBody/content/application~1json/schema/properties/sourceType/oneOf/1'
                      envVars:
                        type: array
                        items:
                          $ref: '#/paths/~1v2~1acts~1%7BactorId%7D~1versions/post/requestBody/content/application~1json/schema/properties/envVars/items'
                        description: ''
                        nullable: true
                      applyEnvVarsToBuild:
                        type: boolean
                        nullable: true
                        example: false
                      buildTag:
                        type: string
                        example: latest
                      sourceFiles:
                        $ref: '#/paths/~1v2~1acts~1%7BactorId%7D~1versions/post/requestBody/content/application~1json/schema/properties/sourceFiles'
                  description: ''
                  nullable: true
                categories:
                  type: array
                  items:
                    type: string
                  description: ''
                  nullable: true
                defaultRunOptions:
                  oneOf:
                    - nullable: true
                    - title: defaultRunOptions
                      required:
                        - build
                        - timeoutSecs
                        - memoryMbytes
                      type: object
                      properties:
                        build:
                          type: string
                          example: latest
                        timeoutSecs:
                          type: number
                          example: 3600
                        memoryMbytes:
                          type: number
                          example: 2048
            example:
              name: MyActor
              description: My favourite Actor!
              title: My Actor
              isPublic: false
              seoTitle: My Actor
              seoDescription: My Actor is the best
              restartOnError: false
              versions:
                - versionNumber: '0.0'
                  sourceType: SOURCE_FILES
                  envVars:
                    - name: DOMAIN
                      value: 'http://example.com'
                      isSecret: false
                    - name: SECRET_PASSWORD
                      value: MyTopSecretPassword123
                      isSecret: true
                  applyEnvVarsToBuild: false
                  buildTag: latest
                  sourceFiles: []
              categories: []
              defaultRunOptions:
                build: latest
                timeoutSecs: 3600
                memoryMbytes: 2048
        required: true
      responses:
        '201':
          description: ''
          headers:
            Location:
              content:
                text/plain:
                  schema:
                    type: string
                  example: 'https://api.apify.com/v2/acts/zdc3Pyhyz3m8vjDeM'
          content:
            application/json:
              schema:
                title: CreateActorResponse
                required:
                  - data
                type: object
                properties:
                  data:
                    title: Actor
                    required:
                      - id
                      - userId
                      - name
                      - username
                      - isPublic
                      - createdAt
                      - modifiedAt
                      - stats
                      - versions
                      - defaultRunOptions
                      - deploymentKey
                    type: object
                    properties:
                      id:
                        type: string
                        example: zdc3Pyhyz3m8vjDeM
                      userId:
                        type: string
                        example: wRsJZtadYvn4mBZmm
                      name:
                        type: string
                        example: MyActor
                      username:
                        type: string
                        example: jane35
                      description:
                        type: string
                        nullable: true
                        example: My favourite actor!
                      restartOnError:
                        type: boolean
                        nullable: true
                        example: false
                      isPublic:
                        type: boolean
                        example: false
                      createdAt:
                        type: string
                        example: '2019-07-08T11:27:57.401Z'
                      modifiedAt:
                        type: string
                        example: '2019-07-08T14:01:05.546Z'
                      stats:
                        title: ActorStats
                        required:
                          - totalBuilds
                          - totalRuns
                          - totalUsers
                          - totalUsers7Days
                          - totalUsers30Days
                          - totalUsers90Days
                          - totalMetamorphs
                          - lastRunStartedAt
                        type: object
                        properties:
                          totalBuilds:
                            type: number
                            example: 9
                          totalRuns:
                            type: number
                            example: 16
                          totalUsers:
                            type: number
                            example: 6
                          totalUsers7Days:
                            type: number
                            example: 2
                          totalUsers30Days:
                            type: number
                            example: 6
                          totalUsers90Days:
                            type: number
                            example: 6
                          totalMetamorphs:
                            type: number
                            example: 2
                          lastRunStartedAt:
                            type: string
                            example: '2019-07-08T14:01:05.546Z'
                      versions:
                        type: array
                        items:
                          $ref: '#/paths/~1v2~1acts/post/requestBody/content/application~1json/schema/properties/versions/items'
                        description: ''
                      defaultRunOptions:
                        $ref: '#/paths/~1v2~1acts/post/requestBody/content/application~1json/schema/properties/defaultRunOptions/oneOf/1'
                      exampleRunInput:
                        oneOf:
                          - nullable: true
                          - title: exampleRunInput
                            required:
                              - body
                              - contentType
                            type: object
                            properties:
                              body:
                                type: string
                                example:
                                  helloWorld: 123
                              contentType:
                                type: string
                                example: application/json; charset=utf-8
                      isDeprecated:
                        type: boolean
                        nullable: true
                        example: false
                      deploymentKey:
                        type: string
                        example: ssh-rsa AAAA ...
                      title:
                        type: string
                        nullable: true
                        example: My Actor
                      taggedBuilds:
                        oneOf:
                          - nullable: true
                          - title: taggedBuilds
                            type: object
                            properties:
                              latest:
                                oneOf:
                                  - nullable: true
                                  - type: object
                                    properties:
                                      buildId:
                                        type: string
                                        nullable: true
                                        example: z2EryhbfhgSyqj6Hn
                                      buildNumber:
                                        type: string
                                        nullable: true
                                        example: 0.0.2
                                      finishedAt:
                                        type: string
                                        nullable: true
                                        example: '2019-06-10T11:15:49.286Z'
              example:
                data:
                  id: zdc3Pyhyz3m8vjDeM
                  userId: wRsJZtadYvn4mBZmm
                  name: MyActor
                  username: jane35
                  description: My favourite Actor!
                  restartOnError: false
                  isPublic: false
                  createdAt: '2019-07-08T11:27:57.401Z'
                  modifiedAt: '2019-07-08T14:01:05.546Z'
                  stats:
                    totalBuilds: 9
                    totalRuns: 16
                    totalUsers: 6
                    totalUsers7Days: 2
                    totalUsers30Days: 6
                    totalUsers90Days: 6
                    totalMetamorphs: 2
                    lastRunStartedAt: '2019-07-08T14:01:05.546Z'
                  versions:
                    - versionNumber: '0.1'
                      envVars: null
                      sourceType: SOURCE_FILES
                      applyEnvVarsToBuild: false
                      buildTag: latest
                      sourceFiles: []
                    - versionNumber: '0.2'
                      sourceType: GIT_REPO
                      envVars: null
                      applyEnvVarsToBuild: false
                      buildTag: latest
                      gitRepoUrl: 'https://github.com/jane35/my-actor'
                    - versionNumber: '0.3'
                      sourceType: TARBALL
                      envVars: null
                      applyEnvVarsToBuild: false
                      buildTag: latest
                      tarballUrl: 'https://github.com/jane35/my-actor/archive/master.zip'
                    - versionNumber: '0.4'
                      sourceType: GITHUB_GIST
                      envVars: null
                      applyEnvVarsToBuild: false
                      buildTag: latest
                      gitHubGistUrl: 'https://gist.github.com/jane35/e51feb784yu89'
                  defaultRunOptions:
                    build: latest
                    timeoutSecs: 3600
                    memoryMbytes: 2048
                  exampleRunInput:
                    body: '{ "helloWorld": 123 }'
                    contentType: application/json; charset=utf-8
                  isDeprecated: false
                  deploymentKey: ssh-rsa AAAA ...
                  title: My Actor
                  taggedBuilds:
                    latest:
                      buildId: z2EryhbfhgSyqj6Hn
                      buildNumber: 0.0.2
                      finishedAt: '2019-06-10T11:15:49.286Z'
      deprecated: false
      x-legacy-doc-urls:
        - 'https://docs.apify.com/api/v2#/reference/actors/actor-collection/create-actor'
      x-js-parent: ActorCollectionClient
      x-js-name: create
      x-js-doc-url: 'https://docs.apify.com/api/client/js/reference/class/ActorCollectionClient#create'
      x-py-parent: ActorCollectionClientAsync
      x-py-name: create
      x-py-doc-url: 'https://docs.apify.com/api/client/python/reference/class/ActorCollectionClientAsync#create'
  '/v2/acts/{actorId}':
    get:
      tags:
        - Actors/Actor object
      summary: Get actor
      description: Gets an object that contains all the details about a specific Actor.
      operationId: act_get
      parameters:
        - name: actorId
          in: path
          description: Actor ID or a tilde-separated owner's username and Actor name.
          required: true
          style: simple
          schema:
            type: string
            example: janedoe~my-actor
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                title: GetActorResponse
                required:
                  - data
                type: object
                properties:
                  data:
                    $ref: '#/paths/~1v2~1acts/post/responses/201/content/application~1json/schema/properties/data'
              example:
                data:
                  id: zdc3Pyhyz3m8vjDeM
                  userId: wRsJZtadYvn4mBZmm
                  name: MyActor
                  username: jane35
                  description: My favourite Actor!
                  restartOnError: false
                  isPublic: false
                  createdAt: '2019-07-08T11:27:57.401Z'
                  modifiedAt: '2019-07-08T14:01:05.546Z'
                  stats:
                    totalBuilds: 9
                    totalRuns: 16
                    totalUsers: 6
                    totalUsers7Days: 2
                    totalUsers30Days: 6
                    totalUsers90Days: 6
                    totalMetamorphs: 2
                    lastRunStartedAt: '2019-07-08T14:01:05.546Z'
                  versions:
                    - versionNumber: '0.1'
                      envVars: null
                      sourceType: SOURCE_FILES
                      applyEnvVarsToBuild: false
                      buildTag: latest
                      sourceFiles: []
                    - versionNumber: '0.2'
                      sourceType: GIT_REPO
                      envVars: null
                      applyEnvVarsToBuild: false
                      buildTag: latest
                      gitRepoUrl: 'https://github.com/jane35/my-actor'
                    - versionNumber: '0.3'
                      sourceType: TARBALL
                      envVars: null
                      applyEnvVarsToBuild: false
                      buildTag: latest
                      tarballUrl: 'https://github.com/jane35/my-actor/archive/master.zip'
                    - versionNumber: '0.4'
                      sourceType: GITHUB_GIST
                      envVars: null
                      applyEnvVarsToBuild: false
                      buildTag: latest
                      gitHubGistUrl: 'https://gist.github.com/jane35/e51feb784yu89'
                  defaultRunOptions:
                    build: latest
                    timeoutSecs: 3600
                    memoryMbytes: 2048
                  exampleRunInput:
                    body: '{ "helloWorld": 123 }'
                    contentType: application/json; charset=utf-8
                  isDeprecated: false
                  deploymentKey: ssh-rsa AAAA ...
                  title: My Actor
                  taggedBuilds:
                    latest:
                      buildId: z2EryhbfhgSyqj6Hn
                      buildNumber: 0.0.2
                      finishedAt: '2019-06-10T11:15:49.286Z'
      deprecated: false
      x-legacy-doc-urls:
        - 'https://docs.apify.com/api/v2#/reference/actors/actor-object/get-actor'
      x-js-parent: ActorClient
      x-js-name: get
      x-js-doc-url: 'https://docs.apify.com/api/client/js/reference/class/ActorClient#get'
      x-py-parent: ActorClientAsync
      x-py-name: get
      x-py-doc-url: 'https://docs.apify.com/api/client/python/reference/class/ActorClientAsync#get'
    put:
      tags:
        - Actors/Actor object
      summary: Update actor
      description: |
        Updates settings of an Actor using values specified by an Actor object
        passed as JSON in the POST payload.

        If the object does not define a specific property, its value will not be
        updated.


        The response is the full Actor object as returned by the
        [Get Actor](#/reference/actors/actor-object/get-actor) endpoint.


        The request needs to specify the `Content-Type: application/json` HTTP header!


        When providing your API authentication token, we recommend using the
        request's `Authorization` header, rather than the URL. ([More
        info](#/introduction/authentication)).


        If you want to make your Actor
        [public](https://docs.apify.com/platform/actors/publishing) using `isPublic:
        true`, you will need to provide the Actor's `title` and the `categories`
        under which that Actor will be classified in Apify Store. For this, it's
        best to use the [constants from our `apify-shared-js`
        package](https://github.com/apify/apify-shared-js/blob/2d43ebc41ece9ad31cd6525bd523fb86939bf860/packages/consts/src/consts.ts#L452-L471).
      operationId: act_put
      parameters:
        - name: actorId
          in: path
          description: Actor ID or a tilde-separated owner's username and Actor name.
          required: true
          style: simple
          schema:
            type: string
            example: janedoe~my-actor
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              title: ActUpdate
              required:
                - name
                - isPublic
                - versions
              type: object
              properties:
                name:
                  type: string
                  example: MyActor
                description:
                  type: string
                  nullable: true
                  example: My favourite actor!
                isPublic:
                  type: boolean
                  example: false
                seoTitle:
                  type: string
                  nullable: true
                  example: My actor
                seoDescription:
                  type: string
                  nullable: true
                  example: My actor is the best
                title:
                  type: string
                  nullable: true
                  example: My Actor
                restartOnError:
                  type: boolean
                  nullable: true
                  example: false
                versions:
                  type: array
                  items:
                    $ref: '#/paths/~1v2~1acts~1%7BactorId%7D~1versions~1%7BversionNumber%7D~1env-vars/post/requestBody/content/application~1json/schema'
                  description: ''
                categories:
                  type: array
                  items:
                    type: string
                  description: ''
                  nullable: true
                defaultRunOptions:
                  oneOf:
                    - nullable: true
                    - $ref: '#/paths/~1v2~1acts/post/requestBody/content/application~1json/schema/properties/defaultRunOptions/oneOf/1'
            example:
              name: MyActor
              description: My favourite Actor!
              isPublic: false
              seoTitle: My Actor
              seoDescription: My Actor is the best
              title: My Actor
              restartOnError: false
              versions:
                - versionNumber: '0.0'
                  sourceType: SOURCE_FILES
                  envVars:
                    - name: DOMAIN
                      value: 'http://example.com'
                      isSecret: false
                    - name: SECRET_PASSWORD
                      value: MyTopSecretPassword123
                      isSecret: true
                  applyEnvVarsToBuild: false
                  buildTag: latest
                  sourceFiles: []
              categories: []
              defaultRunOptions:
                build: latest
                timeoutSecs: 3600
                memoryMbytes: 2048
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                title: UpdateActorResponse
                required:
                  - data
                type: object
                properties:
                  data:
                    $ref: '#/paths/~1v2~1acts/post/responses/201/content/application~1json/schema/properties/data'
              example:
                data:
                  id: zdc3Pyhyz3m8vjDeM
                  userId: wRsJZtadYvn4mBZmm
                  name: MyActor
                  username: jane35
                  description: My favourite Actor!
                  restartOnError: false
                  isPublic: false
                  createdAt: '2019-07-08T11:27:57.401Z'
                  modifiedAt: '2019-07-08T14:01:05.546Z'
                  stats:
                    totalBuilds: 9
                    totalRuns: 16
                    totalUsers: 6
                    totalUsers7Days: 2
                    totalUsers30Days: 6
                    totalUsers90Days: 6
                    totalMetamorphs: 2
                    lastRunStartedAt: '2019-07-08T14:01:05.546Z'
                  versions:
                    - versionNumber: '0.1'
                      envVars: null
                      sourceType: SOURCE_FILES
                      applyEnvVarsToBuild: false
                      buildTag: latest
                      sourceFiles: []
                    - versionNumber: '0.2'
                      sourceType: GIT_REPO
                      envVars: null
                      applyEnvVarsToBuild: false
                      buildTag: latest
                      gitRepoUrl: 'https://github.com/jane35/my-actor'
                    - versionNumber: '0.3'
                      sourceType: TARBALL
                      envVars: null
                      applyEnvVarsToBuild: false
                      buildTag: latest
                      tarballUrl: 'https://github.com/jane35/my-actor/archive/master.zip'
                    - versionNumber: '0.4'
                      sourceType: GITHUB_GIST
                      envVars: null
                      applyEnvVarsToBuild: false
                      buildTag: latest
                      gitHubGistUrl: 'https://gist.github.com/jane35/e51feb784yu89'
                  defaultRunOptions:
                    build: latest
                    timeoutSecs: 3600
                    memoryMbytes: 2048
                  exampleRunInput:
                    body: '{ "helloWorld": 123 }'
                    contentType: application/json; charset=utf-8
                  isDeprecated: false
                  deploymentKey: ssh-rsa AAAA ...
                  title: My Actor
                  taggedBuilds:
                    latest:
                      buildId: z2EryhbfhgSyqj6Hn
                      buildNumber: 0.0.2
                      finishedAt: '2019-06-10T11:15:49.286Z'
      deprecated: false
      x-legacy-doc-urls:
        - 'https://docs.apify.com/api/v2#/reference/actors/actor-object/update-actor'
      x-js-parent: ActorClient
      x-js-name: update
      x-js-doc-url: 'https://docs.apify.com/api/client/js/reference/class/ActorClient#update'
      x-py-parent: ActorClientAsync
      x-py-name: update
      x-py-doc-url: 'https://docs.apify.com/api/client/python/reference/class/ActorClientAsync#update'
    delete:
      tags:
        - Actors/Actor object
      summary: Delete actor
      description: Deletes an Actor.
      operationId: act_delete
      parameters:
        - name: actorId
          in: path
          description: Actor ID or a tilde-separated owner's username and Actor name.
          required: true
          style: simple
          schema:
            type: string
            example: janedoe~my-actor
      responses:
        '204':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                type: object
                example: {}
              example: {}
      deprecated: false
      x-legacy-doc-urls:
        - 'https://docs.apify.com/api/v2#/reference/actors/actor-object/delete-actor'
      x-js-parent: ActorClient
      x-js-name: delete
      x-js-doc-url: 'https://docs.apify.com/api/client/js/reference/class/ActorClient#delete'
  '/v2/acts/{actorId}/versions':
    get:
      tags:
        - Actors/Version collection
      summary: Get list of versions
      description: |
        Gets the list of versions of a specific Actor. The response is a JSON object
        with the list of [Version objects](#/reference/actors/version-object), where each
        contains basic information about a single version.
      operationId: act_versions_get
      parameters:
        - name: actorId
          in: path
          description: Actor ID or a tilde-separated owner's username and Actor name.
          required: true
          style: simple
          schema:
            type: string
            example: janedoe~my-actor
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                title: GetVersionListResponse
                required:
                  - data
                type: object
                properties:
                  data:
                    type: object
                    required:
                      - total
                      - items
                    properties:
                      total:
                        type: number
                        example: 5
                      items:
                        type: array
                        items:
                          $ref: '#/paths/~1v2~1acts/post/requestBody/content/application~1json/schema/properties/versions/items'
                        description: ''
              example:
                data:
                  total: 5
                  items:
                    - versionNumber: '0.1'
                      envVars: null
                      sourceType: SOURCE_FILES
                      applyEnvVarsToBuild: false
                      buildTag: latest
                      sourceFiles: []
                    - versionNumber: '0.2'
                      sourceType: GIT_REPO
                      envVars: null
                      applyEnvVarsToBuild: false
                      buildTag: latest
                      gitRepoUrl: 'https://github.com/jane35/my-actor'
                    - versionNumber: '0.3'
                      sourceType: TARBALL
                      envVars: null
                      applyEnvVarsToBuild: false
                      buildTag: latest
                      tarballUrl: 'https://github.com/jane35/my-actor/archive/master.zip'
                    - versionNumber: '0.4'
                      sourceType: GITHUB_GIST
                      envVars: null
                      applyEnvVarsToBuild: false
                      buildTag: latest
                      gitHubGistUrl: 'https://gist.github.com/jane35/e51feb784yu89'
      deprecated: false
      x-legacy-doc-urls:
        - 'https://docs.apify.com/api/v2#/reference/actors/version-collection/get-list-of-versions'
      x-py-parent: ActorVersionCollectionClientAsync
      x-py-name: list
      x-py-doc-url: 'https://docs.apify.com/api/client/python/reference/class/ActorVersionCollectionClientAsync#list'
    post:
      tags:
        - Actors/Version collection
      summary: Create version
      description: |
        Creates a version of an Actor using values specified in a [Version
        object](#/reference/actors/version-object) passed as JSON in the POST
        payload.

        The request must specify `versionNumber` and `sourceType` parameters (as
        strings) in the JSON payload and a `Content-Type: application/json` HTTP
        header.

        Each `sourceType` requires its own additional properties to be passed to the
        JSON payload object. These are outlined in the [Version
        object](#/reference/actors/version-object) table below and in more detail in
        the [Apify
        documentation](https://docs.apify.com/platform/actors/development/deployment/source-types).

        For example, if an Actor's source code is stored in a [GitHub
        repository](https://docs.apify.com/platform/actors/development/deployment/source-types#git-repository),
        you will set the `sourceType` to `GIT_REPO` and pass the repository's URL in
        the `gitRepoUrl` property.

        ```
        {
            "versionNumber": "0.1",
            "sourceType": "GIT_REPO",
            "gitRepoUrl": "https://github.com/my-github-account/actor-repo"
        }
        ```

        The response is the [Version object](#/reference/actors/version-object) as
        returned by the [Get version](#/reference/actors/version-object/get-version) endpoint.
      operationId: act_versions_post
      parameters:
        - name: actorId
          in: path
          description: Actor ID or a tilde-separated owner's username and Actor name.
          required: true
          style: simple
          schema:
            type: string
            example: janedoe~my-actor
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              title: CreateOrUpdateVersionRequest
              type: object
              properties:
                versionNumber:
                  type: string
                  nullable: true
                  example: '0.0'
                sourceType:
                  oneOf:
                    - nullable: true
                    - title: VersionSourceType
                      enum:
                        - SOURCE_FILES
                        - GIT_REPO
                        - TARBALL
                        - GITHUB_GIST
                      type: string
                envVars:
                  type: array
                  items:
                    title: EnvVar
                    required:
                      - name
                      - value
                    type: object
                    properties:
                      name:
                        type: string
                        example: MY_ENV_VAR
                      value:
                        type: string
                        example: my-value
                      isSecret:
                        type: boolean
                        nullable: true
                        example: false
                  description: ''
                  nullable: true
                applyEnvVarsToBuild:
                  type: boolean
                  nullable: true
                  example: false
                buildTag:
                  type: string
                  nullable: true
                  example: latest
                sourceFiles:
                  title: VersionSourceFiles
                  type: array
                  items:
                    anyOf:
                      - type: object
                        title: SourceCodeFile
                        properties:
                          format:
                            type: string
                            enum:
                              - BASE64
                              - TEXT
                            example: TEXT
                          content:
                            type: string
                            example: console.log('This is the main.js file');
                          name:
                            type: string
                            example: src/main.js
                        required:
                          - format
                          - content
                          - name
                      - type: object
                        title: SourceCodeFolder
                        properties:
                          name:
                            type: string
                            example: src/placeholder
                          folder:
                            type: boolean
                            enum:
                              - true
                            example: true
                        required:
                          - name
                          - folder
            example:
              versionNumber: '0.1'
              sourceType: GIT_REPO
              gitRepoUrl: 'https://github.com/my-github-account/actor-repo'
        required: true
      responses:
        '201':
          description: ''
          headers:
            Location:
              content:
                text/plain:
                  schema:
                    type: string
                  example: 'https://api.apify.com/v2/acts/zdc3Pyhyz3m8vjDeM/versions/0.0'
          content:
            application/json:
              schema:
                title: GetVersionResponse
                required:
                  - data
                type: object
                properties:
                  data:
                    $ref: '#/paths/~1v2~1acts/post/requestBody/content/application~1json/schema/properties/versions/items'
      deprecated: false
      x-legacy-doc-urls:
        - 'https://docs.apify.com/api/v2#/reference/actors/version-collection/create-version'
      x-py-parent: ActorVersionCollectionClientAsync
      x-py-name: create
      x-py-doc-url: 'https://docs.apify.com/api/client/python/reference/class/ActorVersionCollectionClientAsync#create'
  '/v2/acts/{actorId}/versions/{versionNumber}':
    get:
      tags:
        - Actors/Version object
      summary: Get version
      description: |
        The **Version object** contains the source code of a specific version of an
        Actor.'
      operationId: act_version_get
      parameters:
        - name: actorId
          in: path
          description: Actor ID or a tilde-separated owner's username and Actor name.
          required: true
          style: simple
          schema:
            type: string
            example: janedoe~my-actor
        - name: versionNumber
          in: path
          description: Actor major and minor version of the Actor.
          required: true
          style: simple
          schema:
            type: string
            example: '1.0'
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/paths/~1v2~1acts~1%7BactorId%7D~1versions/post/responses/201/content/application~1json/schema'
      deprecated: false
      x-legacy-doc-urls:
        - 'https://docs.apify.com/api/v2#/reference/actors/version-object/get-version'
      x-py-parent: ActorVersionClientAsync
      x-py-name: get
      x-py-doc-url: 'https://docs.apify.com/api/client/python/reference/class/ActorVersionClientAsync#get'
    put:
      tags:
        - Actors/Version object
      summary: Update version
      description: |
        The **Version object** contains the source code of a specific version of an
        Actor.

        The `sourceType` property indicates where the source code is hosted, and
        based on its value the Version object has the following additional property:

        <table>
          <tr>
            <td><code>"SOURCE_FILES"</code></td>
            <td>
                Source code is comprised of multiple files specified in the <code>sourceFiles</code> array.
                Each item of the array is an object with the following fields:<br>
                <code>name</code></li> - File path and name<br>
                <code>format</code></li> - Format of the content, can be either <code>"TEXT"</code> or <code>"BASE64"</code><br>
                <code>content</code></li> - File content<br>
                <br>
                Source files can be shown and edited in the Apify Console's Web IDE.
            </td>
          </tr>
          <tr>
            <td><code>"GIT_REPO"</code></td>
            <td>
                Source code is cloned from a Git repository, whose URL is specified in the <code>gitRepoUrl</code> field.
            </td>
          </tr>
          <tr>
              <td><code>"TARBALL"</code></td>
              <td>
                Source code is downloaded using a tarball or Zip file from a URL specified in the <code>tarballUrl</code> field.
              </td>
          </tr>
          <tr>
              <td><code>"GITHUB_GIST"</code></td>
              <td>
                Source code is taken from a GitHub Gist, whose URL is specified in the <code>gitHubGistUrl</code> field.
              </td>
          </tr>
        </table>


        For more information about source code and Actor versions, see [Source
        code](https://docs.apify.com/platform/actors/development/actor-definition/source-code)
        in Actors documentation.Updates Actor version using values specified by a
        [Version object](#/reference/actors/version-object) passed as JSON in the POST payload.

        If the object does not define a specific property, its value will not be
        updated.

        The request needs to specify the `Content-Type: application/json` HTTP
        header!

        When providing your API authentication token, we recommend using the
        request's `Authorization` header, rather than the URL. ([More
        info](#/introduction/authentication)).

        The response is the [Version object](#/reference/actors/version-object) as
        returned by the [Get version](#/reference/actors/version-object/get-version) endpoint.
      operationId: act_version_put
      parameters:
        - name: actorId
          in: path
          description: Actor ID or a tilde-separated owner's username and Actor name.
          required: true
          style: simple
          schema:
            type: string
            example: janedoe~my-actor
        - name: versionNumber
          in: path
          description: Actor major and minor version of the Actor.
          required: true
          style: simple
          schema:
            type: string
            example: '1.0'
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/paths/~1v2~1acts~1%7BactorId%7D~1versions/post/requestBody/content/application~1json/schema'
            example:
              versionNumber: '0.0'
              sourceType: SOURCE_FILES
              envVars:
                - name: DOMAIN
                  value: 'http://example.com'
                  isSecret: false
                - name: SECRET_PASSWORD
                  value: MyTopSecretPassword123
                  isSecret: true
              applyEnvVarsToBuild: false
              buildTag: latest
              sourceFiles: []
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/paths/~1v2~1acts~1%7BactorId%7D~1versions/post/responses/201/content/application~1json/schema'
      deprecated: false
      x-legacy-doc-urls:
        - 'https://docs.apify.com/api/v2#/reference/actors/version-object/update-version'
      x-py-parent: ActorVersionClientAsync
      x-py-name: update
      x-py-doc-url: 'https://docs.apify.com/api/client/python/reference/class/ActorVersionClientAsync#update'
    delete:
      tags:
        - Actors/Version object
      summary: Delete version
      description: |
        The **Version object** contains the source code of a specific version of an
        Actor.

        The `sourceType` property indicates where the source code is hosted, and
        based

        on its value the Version object has the following additional property:


        <table>
          <tr>
            <td><code>"SOURCE_FILES"</code></td>
            <td>
                Source code is comprised of multiple files specified in the <code>sourceFiles</code> array.
                Each item of the array is an object with the following fields:<br>
                <code>name</code></li> - File path and name<br>
                <code>format</code></li> - Format of the content, can be either <code>"TEXT"</code> or <code>"BASE64"</code><br>
                <code>content</code></li> - File content<br>
                <br>
                Source files can be shown and edited in the Apify Console's Web IDE.
            </td>
          </tr>
          <tr>
            <td><code>"GIT_REPO"</code></td>
            <td>
                Source code is cloned from a Git repository, whose URL is specified in the <code>gitRepoUrl</code> field.
            </td>
          </tr>
          <tr>
              <td><code>"TARBALL"</code></td>
              <td>
                Source code is downloaded using a tarball or Zip file from a URL specified in the <code>tarballUrl</code> field.
              </td>
          </tr>
          <tr>
              <td><code>"GITHUB_GIST"</code></td>
              <td>
                Source code is taken from a GitHub Gist, whose URL is specified in the <code>gitHubGistUrl</code> field.
              </td>
          </tr>
        </table>


        For more information about source code and Actor versions, see [Source
        code](https://docs.apify.com/platform/actors/development/actor-definition/source-code)
        in Actors documentation.Deletes a specific version of Actor's source code.
      operationId: act_version_delete
      parameters:
        - name: actorId
          in: path
          description: Actor ID or a tilde-separated owner's username and Actor name.
          required: true
          style: simple
          schema:
            type: string
            example: janedoe~my-actor
        - name: versionNumber
          in: path
          description: Actor major and minor version of the Actor.
          required: true
          style: simple
          schema:
            type: string
            example: '1.0'
      responses:
        '204':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                type: object
                example: {}
              example: {}
      deprecated: false
      x-legacy-doc-urls:
        - 'https://docs.apify.com/api/v2#/reference/actors/version-object/delete-version'
  '/v2/acts/{actorId}/versions/{versionNumber}/env-vars':
    get:
      tags:
        - Actors/Environment variable collection
      summary: Get list of environment variables
      description: |
        Gets the list of environment variables for a specific version of an Actor.
        The response is a JSON object with the list of [EnvVar objects](#/reference/actors/environment-variable-object), where
        each contains basic information about a single environment variable.
      operationId: act_version_envVars_get
      parameters:
        - name: actorId
          in: path
          description: Actor ID or a tilde-separated owner's username and Actor name.
          required: true
          style: simple
          schema:
            type: string
            example: janedoe~my-actor
        - name: versionNumber
          in: path
          description: Actor version
          required: true
          style: simple
          schema:
            type: string
            example: '0.1'
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                title: GetEnvVarListResponse
                required:
                  - data
                type: object
                properties:
                  data:
                    type: object
                    required:
                      - total
                      - items
                    properties:
                      total:
                        type: number
                        example: 5
                      items:
                        type: array
                        items:
                          $ref: '#/paths/~1v2~1acts~1%7BactorId%7D~1versions/post/requestBody/content/application~1json/schema/properties/envVars/items'
                        description: ''
      deprecated: false
      x-legacy-doc-urls:
        - 'https://docs.apify.com/api/v2#/reference/actors/environment-variable-collection/get-list-of-environment-variables'
      x-py-parent: ActorEnvVarCollectionClientAsync
      x-py-name: list
      x-py-doc-url: 'https://docs.apify.com/api/client/python/reference/class/ActorEnvVarCollectionClientAsync#list'
    post:
      tags:
        - Actors/Environment variable collection
      summary: Create environment variable
      description: |
        Creates an environment variable of an Actor using values specified in a
        [EnvVar object](#/reference/actors/environment-variable-object) passed as
        JSON in the POST payload.

        The request must specify `name` and `value` parameters (as strings) in the
        JSON payload and a `Content-Type: application/json` HTTP header.

        ```

        {
            "name": "ENV_VAR_NAME",
            "value": "my-env-var"
        }

        ```

        The response is the [EnvVar
        object](#/reference/actors/environment-variable-object) as returned by the [Get environment
        variable](#/reference/actors/environment-variable-object/get-environment-variable)
        endpoint.
      operationId: act_version_envVars_post
      parameters:
        - name: actorId
          in: path
          description: Actor ID or a tilde-separated owner's username and Actor name.
          required: true
          style: simple
          schema:
            type: string
            example: janedoe~my-actor
        - name: versionNumber
          in: path
          description: Actor version
          required: true
          style: simple
          schema:
            type: string
            example: '0.1'
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              title: CreateOrUpdateEnvVarRequest
              required:
                - name
                - value
              type: object
              properties:
                name:
                  type: string
                  example: MY_ENV_VAR
                value:
                  type: string
                  example: my-new-value
                isSecret:
                  type: boolean
                  nullable: true
                  example: false
            example:
              name: ENV_VAR_NAME
              value: my-env-var
        required: true
      responses:
        '201':
          description: ''
          headers:
            Location:
              content:
                text/plain:
                  schema:
                    type: string
                  example: 'https://api.apify.com/v2/acts/zdc3Pyhyz3m8vjDeM/versions/1.0/env-vars/ENV_VAR_NAME'
          content:
            application/json:
              schema:
                title: CreateEnvironmentVariableResponse
                required:
                  - data
                type: object
                properties:
                  data:
                    $ref: '#/paths/~1v2~1acts~1%7BactorId%7D~1versions/post/requestBody/content/application~1json/schema/properties/envVars/items'
              example:
                data:
                  name: MY_ENV_VAR
                  value: my-value
                  isSecret: false
      deprecated: false
      x-legacy-doc-urls:
        - 'https://docs.apify.com/api/v2#/reference/actors/environment-variable-collection/create-environment-variable'
      x-py-parent: ActorEnvVarCollectionClientAsync
      x-py-name: create
      x-py-doc-url: 'https://docs.apify.com/api/client/python/reference/class/ActorEnvVarCollectionClientAsync#create'
  '/v2/acts/{actorId}/versions/{versionNumber}/env-vars/{envVarName}':
    get:
      tags:
        - Actors/Environment variable object
      summary: Get environment variable
      description: |
        Gets a [EnvVar object](#/reference/actors/environment-variable-object) that
        contains all the details about a specific environment variable of an Actor.

        If `isSecret` is set to `true`, then `value` will never be returned.
      operationId: act_version_envVar_get
      parameters:
        - name: actorId
          in: path
          description: Actor ID or a tilde-separated owner's username and Actor name.
          required: true
          style: simple
          schema:
            type: string
            example: janedoe~my-actor
        - name: versionNumber
          in: path
          description: Actor version
          required: true
          style: simple
          schema:
            type: string
            example: '0.1'
        - name: envVarName
          in: path
          description: The name of the environment variable
          required: true
          style: simple
          schema:
            type: string
            example: MY_ENV_VAR
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/paths/~1v2~1acts~1%7BactorId%7D~1versions~1%7BversionNumber%7D~1env-vars/post/responses/201/content/application~1json/schema'
              example:
                data:
                  name: MY_ENV_VAR
                  value: my-value
                  isSecret: false
      deprecated: false
      x-legacy-doc-urls:
        - 'https://docs.apify.com/api/v2#/reference/actors/environment-variable-object/get-environment-variable'
      x-py-parent: ActorEnvVarClientAsync
      x-py-name: get
      x-py-doc-url: 'https://docs.apify.com/api/client/python/reference/class/ActorEnvVarClientAsync#get'
    put:
      tags:
        - Actors/Environment variable object
      summary: Update environment variable
      description: |
        Updates Actor environment variable using values specified by a [EnvVar
        object](#/reference/actors/environment-variable-object)

        passed as JSON in the POST payload.

        If the object does not define a specific property, its value will not be
        updated.


        The request needs to specify the `Content-Type: application/json` HTTP
        header!


        When providing your API authentication token, we recommend using the
        request's `Authorization` header, rather than the URL. ([More
        info](#/introduction/authentication)).


        The response is the [EnvVar
        object](#/reference/actors/environment-variable-object) as returned by the

        [Get environment
        variable](#/reference/actors/environment-variable-object/get-environment-variable)
        endpoint.
      operationId: act_version_envVar_put
      parameters:
        - name: actorId
          in: path
          description: Actor ID or a tilde-separated owner's username and Actor name.
          required: true
          style: simple
          schema:
            type: string
            example: janedoe~my-actor
        - name: versionNumber
          in: path
          description: Actor version
          required: true
          style: simple
          schema:
            type: string
            example: '0.1'
        - name: envVarName
          in: path
          description: The name of the environment variable
          required: true
          style: simple
          schema:
            type: string
            example: MY_ENV_VAR
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/paths/~1v2~1acts~1%7BactorId%7D~1versions~1%7BversionNumber%7D~1env-vars/post/requestBody/content/application~1json/schema'
            example:
              name: MY_ENV_VAR
              value: my-new-value
              isSecret: false
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/paths/~1v2~1acts~1%7BactorId%7D~1versions~1%7BversionNumber%7D~1env-vars/post/responses/201/content/application~1json/schema'
              example:
                data:
                  name: MY_ENV_VAR
                  value: my-value
                  isSecret: false
      deprecated: false
      x-legacy-doc-urls:
        - 'https://docs.apify.com/api/v2#/reference/actors/environment-variable-object/update-environment-variable'
      x-py-parent: ActorEnvVarClientAsync
      x-py-name: update
      x-py-doc-url: 'https://docs.apify.com/api/client/python/reference/class/ActorEnvVarClientAsync#update'
    delete:
      tags:
        - Actors/Environment variable object
      summary: Delete environment variable
      description: Deletes a specific environment variable.
      operationId: act_version_envVar_delete
      parameters:
        - name: actorId
          in: path
          description: Actor ID or a tilde-separated owner's username and Actor name.
          required: true
          style: simple
          schema:
            type: string
            example: janedoe~my-actor
        - name: versionNumber
          in: path
          description: Actor version
          required: true
          style: simple
          schema:
            type: string
            example: '0.1'
        - name: envVarName
          in: path
          description: The name of the environment variable
          required: true
          style: simple
          schema:
            type: string
            example: MY_ENV_VAR
      responses:
        '204':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                type: object
                example: {}
              example: {}
      deprecated: false
      x-legacy-doc-urls:
        - 'https://docs.apify.com/api/v2#/reference/actors/environment-variable-object/delete-environment-variable'
  '/v2/acts/{actorId}/webhooks':
    get:
      tags:
        - Actors/Webhook collection
      summary: Get list of webhooks
      description: |
        Gets the list of webhooks of a specific Actor. The response is a JSON with
        the list of objects, where each object contains basic information about a single webhook.

        The endpoint supports pagination using the `limit` and `offset` parameters
        and it will not return more than 1000 records.

        By default, the records are sorted by the `createdAt` field in ascending
        order, to sort the records in descending order, use the `desc=1` parameter.
      operationId: act_webhooks_get
      parameters:
        - name: actorId
          in: path
          description: Actor ID or a tilde-separated owner's username and Actor name.
          required: true
          style: simple
          schema:
            type: string
            example: janedoe~my-actor
        - name: offset
          in: query
          description: |
            Number of array elements that should be skipped at the start. The
            default value is `0`.
          style: form
          explode: true
          schema:
            type: number
            format: double
            example: 10
        - name: limit
          in: query
          description: |
            Maximum number of array elements to return. The default value as well as
            the maximum is `1000`.
          style: form
          explode: true
          schema:
            type: number
            format: double
            example: 99
        - name: desc
          in: query
          description: |
            If `true` or `1` then the objects are sorted by the `createdAt` field in
            descending order. By default, they are sorted in ascending order.
          style: form
          explode: true
          schema:
            type: boolean
            example: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/paths/~1v2~1webhooks/get/responses/200/content/application~1json/schema'
      deprecated: false
      x-legacy-doc-urls:
        - 'https://docs.apify.com/api/v2#/reference/actors/webhook-collection/get-list-of-webhooks'
  '/v2/acts/{actorId}/builds':
    get:
      tags:
        - Actors/Build collection
      summary: Get list of builds
      description: |
        Gets the list of builds of a specific Actor. The response is a JSON with the
        list of objects, where each object contains basic information about a single build.


        The endpoint supports pagination using the `limit` and `offset` parameters
        and it will not return more than 1000 records.


        By default, the records are sorted by the `startedAt` field in ascending order,
        therefore you can use pagination to incrementally fetch all builds while new
        ones are still being started. To sort the records in descending order, use
        the `desc=1` parameter.
      operationId: act_builds_get
      parameters:
        - name: actorId
          in: path
          description: Actor ID or a tilde-separated owner's username and Actor name.
          required: true
          style: simple
          schema:
            type: string
            example: janedoe~my-actor
        - name: offset
          in: query
          description: |
            Number of records that should be skipped at the start. The default value is `0`.
          style: form
          explode: true
          schema:
            type: number
            format: double
            example: 10
        - name: limit
          in: query
          description: |
            Maximum number of records to return. The default value as well as the maximum is `1000`.
          style: form
          explode: true
          schema:
            type: number
            format: double
            example: 99
        - name: desc
          in: query
          description: |
            If `true` or `1` then the objects are sorted by the `startedAt` field in
            descending order. By default, they are sorted in ascending order.
          style: form
          explode: true
          schema:
            type: boolean
            example: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/paths/~1v2~1actor-builds/get/responses/200/content/application~1json/schema'
      deprecated: false
      x-legacy-doc-urls:
        - 'https://docs.apify.com/api/v2#/reference/actors/build-collection/get-list-of-builds'
      x-js-parent: BuildCollectionClient
      x-js-name: list
      x-js-doc-url: 'https://docs.apify.com/api/client/js/reference/class/BuildCollectionClient#list'
      x-py-parent: BuildCollectionClientAsync
      x-py-name: list
      x-py-doc-url: 'https://docs.apify.com/api/client/python/reference/class/BuildCollectionClientAsync#list'
    post:
      tags:
        - Actors/Build collection
      summary: Build actor
      description: |-
        Builds an Actor.
        The response is the build object as returned by the
        [Get build](#/reference/actors/build-object/get-build) endpoint.
      operationId: act_builds_post
      parameters:
        - name: actorId
          in: path
          description: Actor ID or a tilde-separated owner's username and Actor name.
          required: true
          style: simple
          schema:
            type: string
            example: janedoe~my-actor
        - name: version
          in: query
          description: Actor version number to be built.
          required: true
          style: form
          explode: true
          schema:
            type: string
            example: '0.0'
        - name: useCache
          in: query
          description: |
            If `true` or `1`, the system will use a cache to speed up the build
            process. By default, cache is not used.
          style: form
          explode: true
          schema:
            type: boolean
            example: true
        - name: betaPackages
          in: query
          description: |
            If `true` or `1` then the Actor is built with beta versions of Apify NPM
            packages. By default, the build uses `latest` packages.
          style: form
          explode: true
          schema:
            type: boolean
            example: true
        - name: tag
          in: query
          description: |
            Tag to be applied to the build on success. By default, the tag is taken
            from Actor version's `buildTag` property.
          style: form
          explode: true
          schema:
            type: string
            example: latest
        - name: waitForFinish
          in: query
          description: |
            The maximum number of seconds the server waits for the build to finish.
            By default it is `0`, the maximum value is `60`. <!--
            MAX_ACTOR_JOB_ASYNC_WAIT_SECS -->
            If the build finishes in time then the returned build object will have a terminal status (e.g. `SUCCEEDED`),
            otherwise it will have a transitional status (e.g. `RUNNING`).
          style: form
          explode: true
          schema:
            type: number
            format: double
            example: 60
      responses:
        '201':
          description: ''
          headers:
            Location:
              content:
                text/plain:
                  schema:
                    type: string
                  example: 'https://api.apify.com/v2/acts/zdc3Pyhyz3m8vjDeM/runs/HG7ML7M8z78YcAPEB'
          content:
            application/json:
              schema:
                title: BuildActorResponse
                required:
                  - data
                type: object
                properties:
                  data:
                    title: Build
                    required:
                      - id
                      - actId
                      - userId
                      - startedAt
                      - status
                      - meta
                      - buildNumber
                    type: object
                    properties:
                      id:
                        type: string
                        example: HG7ML7M8z78YcAPEB
                      actId:
                        type: string
                        example: janedoe~my-actor
                      userId:
                        type: string
                        example: klmdEpoiojmdEMlk3
                      startedAt:
                        type: string
                        example: '2019-11-30T07:34:24.202Z'
                      finishedAt:
                        type: string
                        nullable: true
                        example: '2019-12-12T09:30:12.202Z'
                      status:
                        type: string
                        example: SUCCEEDED
                      meta:
                        title: BuildsMeta
                        required:
                          - origin
                          - clientIp
                          - userAgent
                        type: object
                        properties:
                          origin:
                            type: string
                            example: WEB
                          clientIp:
                            type: string
                            example: 172.234.12.34
                          userAgent:
                            type: string
                            example: Mozilla/5.0 (iPad)
                      stats:
                        allOf:
                          - oneOf:
                              - nullable: true
                              - title: BuildStats
                                required:
                                  - durationMillis
                                  - runTimeSecs
                                  - computeUnits
                                type: object
                                properties:
                                  durationMillis:
                                    type: number
                                    example: 1000
                                  runTimeSecs:
                                    type: number
                                    example: 45.718
                                  computeUnits:
                                    type: number
                                    example: 0.0126994444444444
                          - {}
                      options:
                        allOf:
                          - oneOf:
                              - nullable: true
                              - title: BuildOptions
                                type: object
                                properties:
                                  useCache:
                                    type: boolean
                                    nullable: true
                                    example: false
                                  betaPackages:
                                    type: boolean
                                    nullable: true
                                    example: false
                                  memoryMbytes:
                                    type: number
                                    nullable: true
                                    example: 1024
                                  diskMbytes:
                                    type: number
                                    nullable: true
                                    example: 2048
                          - {}
                      usage:
                        allOf:
                          - oneOf:
                              - nullable: true
                              - title: BuildUsage
                                type: object
                                properties:
                                  ACTOR_COMPUTE_UNITS:
                                    type: number
                                    nullable: true
                                    example: 0.08
                          - {}
                      usageTotalUsd:
                        type: number
                        nullable: true
                        example: 0.02
                      usageUsd:
                        allOf:
                          - oneOf:
                              - nullable: true
                              - $ref: '#/paths/~1v2~1acts~1%7BactorId%7D~1builds/post/responses/201/content/application~1json/schema/properties/data/properties/usage/allOf/0/oneOf/1'
                          - {}
                      inputSchema:
                        type: string
                        nullable: true
                        example: '{\n  \"title\": \"Schema for ... }'
                      readme:
                        type: string
                        nullable: true
                        example: '# Magic Actor\nThis Actor is magic.'
                      buildNumber:
                        type: string
                        example: 0.1.1
                    example:
                      id: HG7ML7M8z78YcAPEB
                      actId: janedoe~my-actor
                      userId: klmdEpoiojmdEMlk3
                      startedAt: '2019-11-30T07:34:24.202Z'
                      finishedAt: '2019-12-12T09:30:12.202Z'
                      status: SUCCEEDED
                      meta:
                        origin: WEB
                        clientIp: 172.234.12.34
                        userAgent: Mozilla/5.0 (iPad)
                      stats:
                        durationMillis: 1000
                        runTimeSecs: 45.718
                        computeUnits: 0.012699444444444444
                      options:
                        useCache: false
                        betaPackages: false
                        memoryMbytes: 1024
                        diskMbytes: 2048
                      usage:
                        ACTOR_COMPUTE_UNITS: 0.08
                      usageTotalUsd: 0.02
                      usageUsd:
                        ACTOR_COMPUTE_UNITS: 0.02
                      inputSchema: '{\n  \"title\": \"Schema for ... }'
                      readme: '# Magic Actor\nThis Actor is magic.'
                      buildNumber: 0.1.1
              example:
                data:
                  id: HG7ML7M8z78YcAPEB
                  actId: janedoe~my-actor
                  userId: klmdEpoiojmdEMlk3
                  startedAt: '2019-11-30T07:34:24.202Z'
                  finishedAt: '2019-12-12T09:30:12.202Z'
                  status: SUCCEEDED
                  meta:
                    origin: WEB
                    clientIp: 172.234.12.34
                    userAgent: Mozilla/5.0 (iPad)
                  stats:
                    durationMillis: 1000
                    runTimeSecs: 45.718
                    computeUnits: 0.012699444444444444
                  options:
                    useCache: false
                    betaPackages: false
                    memoryMbytes: 1024
                    diskMbytes: 2048
                  usage:
                    ACTOR_COMPUTE_UNITS: 0.08
                  usageTotalUsd: 0.02
                  usageUsd:
                    ACTOR_COMPUTE_UNITS: 0.02
                  inputSchema: '{\n  \"title\": \"Schema for ... }'
                  readme: '# Magic Actor\nThis Actor is magic.'
                  buildNumber: 0.1.1
      deprecated: false
      x-legacy-doc-urls:
        - 'https://docs.apify.com/api/v2#/reference/actors/build-collection/build-actor'
      x-js-parent: ActorClient
      x-js-name: build
      x-js-doc-url: 'https://docs.apify.com/api/client/js/reference/class/ActorClient#build'
      x-py-parent: ActorClientAsync
      x-py-name: build
      x-py-doc-url: 'https://docs.apify.com/api/client/python/reference/class/ActorClientAsync#build'
  '/v2/acts/{actorId}/builds/{buildId}':
    get:
      tags:
        - Actors/Build object
      summary: Get build
      description: |
        **[DEPRECATED]** API endpoints related to build of the Actor were moved
        under new namespace [`actor-builds`](#/reference/actor-builds).Gets an object
        that contains all the details about a specific build of an Actor.


        By passing the optional `waitForFinish` parameter the API endpoint will
        synchronously wait for the build to finish.

        This is useful to avoid periodic polling when waiting for an Actor build to
        finish.


        This endpoint does not require the authentication token. Instead, calls are authenticated using a hard-to-guess ID of the build. However,
        if you access the endpoint without the token, certain attributes, such as `usageUsd` and `usageTotalUsd`, will be hidden.
      operationId: act_build_get
      security:
        - apiKeyActorBuilds: []
        - httpBearerActorBuilds: []
      parameters:
        - name: actorId
          in: path
          description: Actor ID or a tilde-separated owner's username and Actor name.
          required: true
          style: simple
          schema:
            type: string
            example: janedoe~my-actor
        - name: buildId
          in: path
          description: 'ID of the build you want to get, found in the build''s `Info` tab.'
          required: true
          style: simple
          schema:
            type: string
            example: soSkq9ekdmfOslopH
        - name: waitForFinish
          in: query
          description: |
            The maximum number of seconds the server waits for the build to finish.
            By default it is `0`, the maximum value is `60`. <!--
            MAX_ACTOR_JOB_ASYNC_WAIT_SECS -->
                                                 If the build finishes in time then the returned build object will have a terminal status (e.g. `SUCCEEDED`),
                                                 otherwise it will have a transitional status (e.g. `RUNNING`).
          style: form
          explode: true
          schema:
            type: number
            format: double
            example: 60
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                title: GetBuildResponse
                required:
                  - data
                type: object
                properties:
                  data:
                    allOf:
                      - $ref: '#/paths/~1v2~1acts~1%7BactorId%7D~1builds/post/responses/201/content/application~1json/schema/properties/data'
                      - {}
              example:
                data:
                  id: HG7ML7M8z78YcAPEB
                  actId: janedoe~my-actor
                  userId: klmdEpoiojmdEMlk3
                  startedAt: '2019-11-30T07:34:24.202Z'
                  finishedAt: '2019-12-12T09:30:12.202Z'
                  status: SUCCEEDED
                  meta:
                    origin: WEB
                    clientIp: 172.234.12.34
                    userAgent: Mozilla/5.0 (iPad)
                  stats:
                    durationMillis: 1000
                    runTimeSecs: 45.718
                    computeUnits: 0.012699444444444444
                  options:
                    useCache: false
                    betaPackages: false
                    memoryMbytes: 1024
                    diskMbytes: 2048
                  usage:
                    ACTOR_COMPUTE_UNITS: 0.08
                  usageTotalUsd: 0.02
                  usageUsd:
                    ACTOR_COMPUTE_UNITS: 0.02
                  inputSchema: '{\n  \"title\": \"Schema for ... }'
                  readme: '# Magic Actor\nThis Actor is magic.'
                  buildNumber: 0.1.1
      deprecated: false
      x-legacy-doc-urls:
        - 'https://docs.apify.com/api/v2#/reference/actors/build-object/get-build'
  '/v2/acts/{actorId}/builds/{buildId}/abort':
    post:
      tags:
        - Actors/Abort build
      summary: Abort build
      description: |
        **[DEPRECATED]** API endpoints related to build of the Actor were moved
        under new namespace [`actor-builds`](#/reference/actor-builds).Aborts an
        Actor build and returns an object that contains all the details about the
        build.

        Only builds that are starting or running are aborted. For builds with status
        `FINISHED`, `FAILED`, `ABORTING` and `TIMED-OUT` this call does nothing.
      operationId: act_build_abort_post
      parameters:
        - name: actorId
          in: path
          description: Actor ID or a tilde-separated owner's username and Actor name.
          required: true
          style: simple
          schema:
            type: string
            example: janedoe~my-actor
        - name: buildId
          in: path
          description: Build ID.
          required: true
          style: simple
          schema:
            type: string
            example: 3KH8gEpp4d8uQSe8T
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                title: PostAbortBuildResponse
                required:
                  - data
                type: object
                properties:
                  data:
                    allOf:
                      - $ref: '#/paths/~1v2~1acts~1%7BactorId%7D~1builds/post/responses/201/content/application~1json/schema/properties/data'
                      - {}
                example:
                  data:
                    id: HG7ML7M8z78YcAPEB
                    actId: janedoe~my-actor
                    userId: klmdEpoiojmdEMlk3
                    startedAt: '2019-11-30T07:34:24.202Z'
                    finishedAt: '2019-12-12T09:30:12.202Z'
                    status: ABORTED
                    meta:
                      origin: WEB
                    stats:
                      durationMillis: 1000
                      runTimeSecs: 5.718
                    options:
                      useCache: false
                      memoryMbytes: 1024
                      diskMbytes: 2048
                    usage:
                      ACTOR_COMPUTE_UNITS: 0.08
                    usageTotalUsd: 0.02
                    usageUsd:
                      ACTOR_COMPUTE_UNITS: 0.02
              example:
                data:
                  id: HG7ML7M8z78YcAPEB
                  actId: janedoe~my-actor
                  userId: klmdEpoiojmdEMlk3
                  startedAt: '2019-11-30T07:34:24.202Z'
                  finishedAt: '2019-12-12T09:30:12.202Z'
                  status: ABORTED
                  meta:
                    origin: WEB
                  stats:
                    durationMillis: 1000
                    runTimeSecs: 5.718
                  options:
                    useCache: false
                    memoryMbytes: 1024
                    diskMbytes: 2048
                  usage:
                    ACTOR_COMPUTE_UNITS: 0.08
                  usageTotalUsd: 0.02
                  usageUsd:
                    ACTOR_COMPUTE_UNITS: 0.02
      deprecated: false
      x-legacy-doc-urls:
        - 'https://docs.apify.com/api/v2#/reference/actors/abort-build/abort-build'
  '/v2/acts/{actorId}/runs':
    get:
      tags:
        - Actors/Run collection
      summary: Get list of runs
      description: |
        Gets the list of runs of a specific actor. The response is a list of
        objects, where each object contains basic information about a single actor run.


        The endpoint supports pagination using the `limit` and `offset` parameters
        and it will not return more than 1000 array elements.


        By default, the records are sorted by the `startedAt` field in ascending
        order, therefore you can use pagination to incrementally fetch all records while
        new ones are still being created. To sort the records in descending order, use
        `desc=1` parameter. You can also filter runs by status ([available
        statuses](https://docs.apify.com/platform/actors/running/runs-and-builds#lifecycle)).
      operationId: act_runs_get
      parameters:
        - name: actorId
          in: path
          description: Actor ID or a tilde-separated owner's username and Actor name.
          required: true
          style: simple
          schema:
            type: string
            example: janedoe~my-actor
        - name: offset
          in: query
          description: |
            Number of array elements that should be skipped at the start. The
            default value is `0`.
          style: form
          explode: true
          schema:
            type: number
            format: double
            example: 10
        - name: limit
          in: query
          description: |
            Maximum number of array elements to return. The default value as well as
            the maximum is `1000`.
          style: form
          explode: true
          schema:
            type: number
            format: double
            example: 99
        - name: desc
          in: query
          description: |
            If `true` or `1` then the objects are sorted by the `startedAt` field in
            descending order. By default, they are sorted in ascending order.
          style: form
          explode: true
          schema:
            type: boolean
            example: true
        - name: status
          in: query
          description: |
            Return only runs with the provided status ([available
            statuses](https://docs.apify.com/platform/actors/running/runs-and-builds#lifecycle))
          style: form
          explode: true
          schema:
            type: string
            example: SUCCEEDED
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                title: GetUserRunsListResponse
                required:
                  - data
                type: object
                properties:
                  data:
                    allOf:
                      - $ref: '#/paths/~1v2~1actor-tasks/get/responses/200/content/application~1json/schema/properties/data/allOf/0'
                      - type: object
                        required:
                          - items
                        properties:
                          items:
                            type: array
                            items:
                              $ref: '#/paths/~1v2~1actor-tasks~1%7BactorTaskId%7D~1runs/get/responses/200/content/application~1json/schema/properties/data/allOf/1/properties/items/items'
              example:
                data:
                  total: 2
                  offset: 0
                  limit: 1000
                  desc: false
                  count: 2
                  items:
                    - id: HG7ML7M8z78YcAPEB
                      actId: HDSasDasz78YcAPEB
                      actorTaskId: KJHSKHausidyaJKHs
                      status: SUCCEEDED
                      startedAt: '2019-11-30T07:34:24.202Z'
                      finishedAt: '2019-12-12T09:30:12.202Z'
                      buildId: HG7ML7M8z78YcAPEB
                      buildNumber: 0.0.2
                      meta:
                        origin: WEB
                      usageTotalUsd: 0.2
                      defaultKeyValueStoreId: sfAjeR4QmeJCQzTfe
                      defaultDatasetId: 3ZojQDdFTsyE7Moy4
                      defaultRequestQueueId: so93g2shcDzK3pA85
                    - id: HG7ML7M8z78YcAPEB
                      actId: HDSasDasz78YcAPEB
                      actorTaskId: KJHSKHausidyaJKHs
                      status: FAILED
                      startedAt: '2019-12-12T07:34:14.202Z'
                      finishedAt: '2019-12-13T08:36:13.202Z'
                      buildId: u78dML7M8z78YcAPEB
                      buildNumber: 0.2.2
                      meta:
                        origin: DEVELOPMENT
                      usageTotalUsd: 0.6
                      defaultKeyValueStoreId: sffsouqlseJCQzTfe
                      defaultDatasetId: CFGggdjQDsyE7Moyw
                      defaultRequestQueueId: soowucklrmDzKpA8x
      deprecated: false
      x-legacy-doc-urls:
        - 'https://docs.apify.com/api/v2#/reference/actors/run-collection/get-list-of-runs'
      x-js-parent: RunCollectionClient
      x-js-name: list
      x-js-doc-url: 'https://docs.apify.com/api/client/js/reference/class/RunCollectionClient#list'
      x-py-parent: RunCollectionClientAsync
      x-py-name: list
      x-py-doc-url: 'https://docs.apify.com/api/client/python/reference/class/RunCollectionClientAsync#list'
    post:
      tags:
        - Actors/Run collection
      summary: Run actor
      description: |
        Runs an Actor and immediately returns without waiting for the run to finish.

        The POST payload including its `Content-Type` header is passed as `INPUT` to
        the Actor (usually `application/json`).

        The Actor is started with the default options; you can override them using
        various URL query parameters.

        The response is the Run object as returned by the [Get
        run](#/reference/actor-runs/run-object-and-its-storages/get-run) API
        endpoint.

        If you want to wait for the run to finish and receive the actual output of
        the Actor as the response, please use one of the [Run Actor
        synchronously](#/reference/actors/run-actor-synchronously) API endpoints
        instead.

        To fetch the Actor run results that are typically stored in the default
        dataset, you'll need to pass the ID received in the `defaultDatasetId` field
        received in the response JSON to the [Get items](#/reference/datasets/item-collection/get-items)
        API endpoint.
      operationId: act_runs_post
      parameters:
        - name: actorId
          in: path
          description: Actor ID or a tilde-separated owner's username and Actor name.
          required: true
          style: simple
          schema:
            type: string
            example: janedoe~my-actor
        - name: timeout
          in: query
          description: |
            Optional timeout for the run, in seconds. By default, the run uses a
            timeout specified in the default run configuration for the Actor.
          style: form
          explode: true
          schema:
            type: number
            format: double
            example: 60
        - name: memory
          in: query
          description: |
            Memory limit for the run, in megabytes. The amount of memory can be set
            to a power of 2 with a minimum of 128. By default, the run uses a memory
            limit specified in the default run configuration for the Actor.
          style: form
          explode: true
          schema:
            type: number
            format: double
            example: 256
        - name: maxItems
          in: query
          description: |
            The maximum number of items that the Actor run should return. This is
            useful for pay-per-result Actors, as it allows you to limit the number
            of results that will be charged to your subscription. You can access the
            maximum number of items in your Actor by using the
            `ACTOR_MAX_PAID_DATASET_ITEMS` environment variable.
          style: form
          explode: true
          schema:
            type: number
            format: double
            example: 1000
        - name: build
          in: query
          description: |
            Specifies the Actor build to run. It can be either a build tag or build
            number. By default, the run uses the build specified in the default run
            configuration for the Actor (typically `latest`).
          style: form
          explode: true
          schema:
            type: string
            example: 0.1.234
        - name: waitForFinish
          in: query
          description: |
            The maximum number of seconds the server waits for the run to finish. By
            default, it is `0`, the maximum value is `60`. <!--
            MAX_ACTOR_JOB_ASYNC_WAIT_SECS -->
            If the build finishes in time then the returned run object will have a terminal status (e.g. `SUCCEEDED`),
            otherwise it will have a transitional status (e.g. `RUNNING`).
          style: form
          explode: true
          schema:
            type: number
            format: double
            example: 60
        - name: webhooks
          in: query
          description: |
            Specifies optional webhooks associated with the Actor run, which can be
            used to receive a notification e.g. when the Actor finished or failed. The value is a Base64-encoded
            JSON array of objects defining the webhooks. For more information, see
            [Webhooks documentation](https://docs.apify.com/platform/integrations/webhooks).
          style: form
          explode: true
          schema:
            type: string
            example: dGhpcyBpcyBqdXN0IGV4YW1wbGUK...
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              type: object
            example:
              foo: bar
        required: true
      responses:
        '201':
          description: ''
          headers:
            Location:
              content:
                text/plain:
                  schema:
                    type: string
                  example: 'https://api.apify.com/v2/acts/zdc3Pyhyz3m8vjDeM/runs/HG7ML7M8z78YcAPEB'
          content:
            application/json:
              schema:
                $ref: '#/paths/~1v2~1actor-runs~1%7BrunId%7D/put/responses/200/content/application~1json/schema'
              example:
                data:
                  id: HG7ML7M8z78YcAPEB
                  actId: HDSasDasz78YcAPEB
                  userId: 7sT5jcggjjA9fNcxF
                  actorTaskId: KJHSKHausidyaJKHs
                  startedAt: '2019-11-30T07:34:24.202Z'
                  finishedAt: '2019-12-12T09:30:12.202Z'
                  status: RUNNING
                  statusMessage: Actor is running
                  isStatusMessageTerminal: false
                  meta:
                    origin: WEB
                    clientIp: 172.234.12.34
                    userAgent: Mozilla/5.0 (iPad)
                  stats:
                    inputBodyLen: 240
                    restartCount: 0
                    resurrectCount: 2
                    memAvgBytes: 267874071.9
                    memMaxBytes: 404713472
                    memCurrentBytes: 0
                    cpuAvgUsage: 33.75321011075384
                    cpuMaxUsage: 169.65073553494125
                    cpuCurrentUsage: 0
                    netRxBytes: 103508042
                    netTxBytes: 4854600
                    durationMillis: 248472
                    runTimeSecs: 248.472
                    metamorph: 0
                    computeUnits: 0.13804
                  options:
                    build: latest
                    timeoutSecs: 300
                    memoryMbytes: 1024
                    diskMbytes: 2048
                  buildId: 7sT5jcggjjA9fNcxF
                  exitCode: 0
                  defaultKeyValueStoreId: eJNzqsbPiopwJcgGQ
                  defaultDatasetId: wmKPijuyDnPZAPRMk
                  defaultRequestQueueId: FL35cSF7jrxr3BY39
                  buildNumber: 0.0.36
                  containerUrl: 'https://g8kd8kbc5ge8.runs.apify.net'
                  isContainerServerReady: true
                  gitBranchName: master
                  usage:
                    ACTOR_COMPUTE_UNITS: 3
                    DATASET_READS: 4
                    DATASET_WRITES: 4
                    KEY_VALUE_STORE_READS: 5
                    KEY_VALUE_STORE_WRITES: 3
                    KEY_VALUE_STORE_LISTS: 5
                    REQUEST_QUEUE_READS: 2
                    REQUEST_QUEUE_WRITES: 1
                    DATA_TRANSFER_INTERNAL_GBYTES: 1
                    DATA_TRANSFER_EXTERNAL_GBYTES?: 3
                    PROXY_RESIDENTIAL_TRANSFER_GBYTES: 34
                    PROXY_SERPS: 3
                  usageTotalUsd: 0.2654
                  usageUsd:
                    ACTOR_COMPUTE_UNITS: 0.072
                    DATASET_READS: 0.0004
                    DATASET_WRITES: 0.0002
[...]
